<ion-content padding class="transparent-header">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
  <div id="profile-bg" [ngStyle]="{'background-image': 'url(assets/img/intro.jpg)'}"></div>
  <div id="content">
    <div id="profile-info" padding>
      <img id="profile-image" src="assets/img/none.png">
      <h3 id="profile-name">{{dashboard.name}}</h3>
      <p class="profile-description">{{ 'LAST_VISIT' | translate }} {{dashboard.lastSeen}}</p>
    </div>
    <hr/>
    <ion-row class="profile-numbers">
      <ion-col col-4>
        <p>Records</p>
        <span *ngIf="dashboard.records">{{dashboard.records.length}}</span>
        <span *ngIf="!dashboard.records">0</span>
      </ion-col>
      <ion-col col-4>
        <p>Steps</p>
        <span>{{steps}}</span>
      </ion-col>
      <ion-col col-4>
        <p>Routes</p>
        <span *ngIf="dashboard.routes">{{dashboard.routes.length}}</span>
        <span *ngIf="!dashboard.routes">0</span>
      </ion-col>
    </ion-row>

    <div id="activity">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <ion-icon item-left class="fi flaticon-route-1"></ion-icon>
          </ion-avatar>
          <h2 class="sticky">Routes</h2>
          <p *ngIf="dashboard.routes">{{dashboard.routes.length}}</p>
          <p *ngIf="!dashboard.routes">0</p>
        </ion-item>
        <ion-card-content *ngIf="dashboard.routes">
          <ion-list *ngFor="let route of dashboard.routes">
            <ion-item>{{route.name}}</ion-item>
          </ion-list>
        </ion-card-content>
        <ion-card-content text-center class="routes no-data animated rubberBand" *ngIf="!dashboard.routes">
          {{ 'NO_ROUTES_YET' | translate }} <br/>
          <ion-icon class="icon ion-md-sad"></ion-icon>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <ion-icon item-left class="fi flaticon-history"></ion-icon>
          </ion-avatar>
          <h2 class="sticky">Records</h2>
          <p *ngIf="dashboard.records">{{dashboard.records.length}}</p>
          <p *ngIf="!dashboard.records">0</p>
        </ion-item>
        <ion-card-content *ngIf="dashboard.records">
          <ion-list *ngFor="let record of dashboard.records">
            <ion-item>{{record.value}} {{ record.date}}</ion-item>
          </ion-list>
        </ion-card-content>
        <ion-card-content text-center class="records no-data animated rubberBand" *ngIf="!dashboard.records">
          {{ 'NO_RECORDS_YET' | translate }} <br/>
          <ion-icon class="icon ion-md-sad"></ion-icon>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
